@use 'variables' as *;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin desktop {
    @media screen and (min-width: 1200px) {
        @content;
    }
}
@mixin w-900px {
    @media screen and (min-width: 900px) {
        @content;
    }
}
@mixin w-700px {
    @media screen and (min-width: 700px) {
        @content;
    }
}
@mixin w-500px {
    @media screen and (min-width: 500px) {
        @content;
    }
}