@use 'variables' as *;

@mixin title-sections {
    @include flex-center;
    align-items: baseline;
    gap: 20px;
    
    width: 100%;

    h2 {
        width: 100%;
        max-width: fit-content;
        min-width: fit-content;

        font-size: 2rem;
        font-weight: 600;
        color: $white;

        // w-900px
        @include w-900px {
            font-size: 3rem
        }
    }
    div {
        height: 2px;
        width: 100%;

        background-color: $gray-02;
    }
}
@mixin container-sections {
    @include flex-center-column;
    gap: 20px;

    width: 100%;
    padding: 20px 10px;

    // w-900px
    @include w-900px {
        padding: 20px 20px;
    }
}
@mixin button-style {
    position: relative;
    padding: 16px 30px;

    border-radius: 30px;

    font-size: 1.2rem;
    overflow: hidden;

    z-index: 9;

    transition: color .4s;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;

        transform: translateY(-100%);

        height: 100%;
        width: 100%;

        z-index: -1;

        transition: transform .4s;
    }
    &:hover {
        color: $midnightblue-01;
        
        &::before {
            transform: translateY(0);
        }
    }
}
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin desktop {
    @media screen and (min-width: 1200px) {
        @content;
    }
}
@mixin w-900px {
    @media screen and (min-width: 900px) {
        @content;
    }
}
@mixin w-700px {
    @media screen and (min-width: 700px) {
        @content;
    }
}
@mixin w-500px {
    @media screen and (min-width: 500px) {
        @content;
    }
}
@mixin w-400px {
    @media screen and (min-width: 400px) {
        @content;
    }
}