@use 'reset' as *;
@use 'variables' as *;
@use 'mixins' as *;

@use 'form-submit' as *;

.fix-bg {  
    @include fix-bg;

    .container-site {
        position: relative;
        @include flex-center;
        align-items: flex-start;
    
        width: 100%;
        max-width: 1200px;
        margin-inline: auto;
        
        padding-inline: 10px;

        // w-500px
        @include w-500px {
            max-width: 500px;
        }
        // w-700px
        @include w-700px {
            max-width: 700px;
        }
        // w-900px
        @include w-900px {
            max-width: 900px;
        }
        // Desktop
        @include desktop {
            max-width: 1200px;
        }

        .header-menu-hamburger {
            position: absolute;
            top: 10px;
            right: 20px;

            @include flex-center;

            height: 50px;
            width: 50px;

            border-radius: 50%;
            cursor: pointer;

            z-index: 10;

            background-color: $bg-color-02;

            // Desktop
            @include desktop {
                display: none;
            }

            .hamburger-icon {
                position: relative;

                height: 2px;
                width: 25px;

                background-color: $white;

                transition: opacity .2s;

                &.hamburger-icon-active {
                    background-color: transparent;

                    &::after {
                        transform: translateY(0px);
                        transform: rotate(-45deg);
                    }
                    &::before {
                        transform: translateY(0px);
                        transform: rotate(45deg);
                    }
                }
                &::after, &::before {
                    content: '';
                    position: absolute;

                    height: 2px;
                    width: 100%;

                    background-color: white;

                    transition: transform .4s;
                }
                &::after {
                    transform: translateY(8px);
                }
                &::before {
                    transform: translateY(-8px);
                }
            }
        }

        header {
            position: fixed;
            left: 0;

            transform: translateX(-100%);

            height: 100vh;
            width: 100%;
            max-width: 250px;

            overflow-y: auto;

            z-index: 10;

            border-left: $border-01;

            background-color: $bg-color-01;

            transition: transform .4s;

            // Desktop
            @include desktop {
                position: initial;
                transform: translateX(0);

                background-color: $bg-color-02;

                transition: none;
            }

            &.header-active {
                transform: translateX(0);
            }
    
            .c-header-menu {
                @include flex-center-column;
                align-items: flex-start;
                gap: 10px;
                
                min-height: 100vh;
                width: 100%;
    
                .header-menu-box-1 {
                    @include flex-center-column;
                    gap: 10px;

                    width: 100%;

                    padding: 10px;
                    
                    &.header-menu-box-1-active {
                        .box-01-name {
                            h2 {
                                transform: translateY(0);
                                opacity: 1;

                                transition: .6s ease;
                            }
                        }
                        .box-01-midia {
                            transform: translateY(0);
                            opacity: 1;

                            transition: .6s ease-out;
                        }
                    }

                    .box-01-name {
                        @include flex-center-column;
                        gap: 10px;

                        width: 100%;

                        h2 {
                            transform: translateY(-20px);

                            width: 100%;
                            opacity: 0;

                            text-align: center;
                            font-size: 2rem;
                            font-weight: 600;
                            color: $white;

                            transition-delay: .2s;

                            // Desktop
                            @include desktop {
                                transform: translateY(0);
                                opacity: 1;

                                transition: none;
                            }

                            span {
                                font-weight: 400;
                            }
                        }
                    }
                    .box-01-skills {
                        width: 100%;
                        text-align: center;

                        .skills-text {
                            position: relative;
                            @include flex-center;

                            height: 20px;
                            width: 100%;

                            overflow: hidden;

                            color: $white;

                            opacity: .8;
                            
                            span {
                                position: absolute;
                            }
                            .skills-text-hidden {
                                transform: translateY(100%);
                                animation: scroll-skills-out .4s;
                            }
                            .skills-text-animation {
                                animation: scroll-skills-in .4s;
                            }
                        }
                    }
                    .box-01-midia {
                        @include flex-center;

                        transform: translateY(-20px);

                        width: 100%;
                        padding-top: 10px;

                        opacity: 0;

                        transition-delay: .2s;

                        // Desktop
                        @include desktop {
                            transform: translateY(0);
                            opacity: 1;

                            transition: none;
                        }

                        ul {
                            @include flex-center;
                            gap: 10px;

                            width: 100%;

                            li {
                                @include flex-center;

                                height: 40px;
                                width: 40px;

                                border-radius: 50%;

                                background-color: $bg-color-02;

                                transition: background-color .4s;

                                &:hover {
                                    background-color: $bg-color-04;
                                }

                                a {
                                    @include flex-center;

                                    height: 100%;
                                    width: 100%;

                                    img {
                                        width: 100%;
                                        max-width: 20px;

                                        filter: brightness(0) saturate(100%) invert(100%) sepia(21%) saturate(7498%) hue-rotate(183deg) brightness(130%) contrast(95%);

                                        transition: filter .4s;
                                    }
                                }
                            }
                        }
                    }
                }
                .header-menu-box-2 {
                    @include flex-center;

                    width: 100%;

                    .box-02-ul {
                        @include flex-center-column;

                        width: 100%;

                        &:has(.ul-list:hover) {
                            .list-link:not(:hover) {
                                .link-image {
                                    img {
                                        opacity: .3;
                                    }
                                }
                                .link-text {
                                    opacity: .3;
                                }
                            }
                        }

                        .ul-list {
                            @include flex-center;

                            width: 100%;

                            border-bottom: 1px solid $border-color-01;

                            &:first-child {
                                border-top: 1px solid $border-color-01;
                            }
                            .list-link {
                                @include flex-center;
                                justify-content: flex-start;
                                gap: 10px;

                                transform: translateX(-100%);
                                
                                width: 100%;

                                padding: 10px 0 10px 10px;

                                // Desktop
                                @include desktop {
                                    transform: translate(0);
                                }

                                &.list-link-active {
                                    transform: translateX(0);
                                }
                                .link-image {
                                    @include flex-center;

                                    width: 100%;
                                    max-width: 24px;

                                    img {
                                        width: 100%;
                                        transition: opacity .4s;
                                    }
                                }
                                .link-text {
                                    color: $white;

                                    transition: opacity .4s;
                                }
                            }
                            .list-link-01 {
                                transition: transform .4s;
                            }
                            .list-link-02 {
                                transition: transform .6s;
                            }
                            .list-link-03 {
                                transition: transform .8s;
                            }
                            .list-link-04 {
                                transition: transform 1s;
                            }
                        }
                    }
                }
                .header-menu-box-3 {
                    @include flex-center;

                    width: 100%;
                    padding: 20px;

                    .box-03-cv {
                        position: relative;

                        @include flex-center;
                        justify-content: space-between;

                        height: 60px;
                        width: 100%;

                        border: $border-01;
                        border-radius: 30px;

                        overflow: hidden;   

                        background-color: $bg-color-02;

                        transition: background-color .4s;

                        &:hover {
                            background-color: $bg-color-01;

                            .cv-image {
                                transform: translateX(300%);
                                background-color: $bg-color-02;
                            }
                            .cv-text {

                                .text-download {
                                    opacity: 0;
                                    pointer-events: none;
                                    transform: translateX(-50%);        
                                }
                                .text-hover {
                                    opacity: 1;
                                    transform: translateX(-70%);        
                                }
                            }
                        }
                        .cv-image {
                            position: absolute;
                            left: 8px;

                            @include flex-center;

                            height: 100%;
                            max-height: 48px;
                            width: 100%;
                            max-width: 48px;

                            border: $border-01;
                            border-radius: 50%;

                            background-color: $bg-color-01;

                            z-index: 10;

                            transition: transform .6s, background-color .4s;

                            img {
                                width: 100%;
                                max-width: 24px;

                                filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(299deg) brightness(102%) contrast(102%);
                            }
                        }
                        .cv-text {
                            position: absolute;
                            @include flex-center;

                            width: 100%;

                            z-index: 9;

                            span {
                                position: absolute;
                                color: $white;
                            }
                            .text-download {
                                transform: translateX(45%);
                                transition: transform .6s, opacity .3s;
                            }
                            .text-hover {
                                opacity: 0;
                                pointer-events: none;
                                transform: translateX(50%);
                                
                                transition: transform .6s, opacity .3s;
                            }
                        }
                    }
                }
            }
        }

        main {
            height: 100vh;
            width: 100%;

            overflow-y: auto;
            @include scroll-bar;

            background-color: $bg-color-03;

            .section-01 {
                @include flex-center-column;
                gap: 40px;

                width: 100%;
                padding: 40px 10px 20px 10px;

                // w-900px
                @include w-900px {
                    flex-direction: row;
                    align-items: stretch;
                    gap: 20px;

                    padding: 40px 20px 20px 20px;
                }

                .section-01-c-info {
                    @include flex-center-column;
                    gap: 20px;

                    width: 100%;
                    text-align: center;

                    overflow: hidden;

                    // w-900px
                    @include w-900px {
                        text-align: initial;
                    }

                    .info-c-title {
                        width: 100%;

                        h2 {
                            font-size: 5rem;
                            font-weight: 600;
                            color: $white;

                            span {
                                @include text-p-style-02;
                            }
                        }
                    }
                    .info-c-skills {
                        width: 100%;

                        p {
                            position: relative;

                            @include flex-center;

                            height: 33px;
                            width: 100%;

                            font-size: 1.6rem;
                            color: $bg-color-04;

                            overflow: hidden;

                            // w-900px
                            @include w-900px {
                                justify-content: flex-start;
                            }
                            span {
                                position: absolute;
                            }
                            .skills-text-animation {
                                animation: scroll-skills-in .4s;
                            }
                            .skills-text-hidden {
                                transform: translateY(-100%);
                                animation: scroll-skills-out .4s;
                            }
                        }
                    }
                    .info-c-text {
                        width: 100%;

                        p {
                            @include text-p-style;
                        }
                    }
                    .info-c-buttons {
                        @include flex-center;
                        flex-wrap: wrap;
                        gap: 16px;

                        width: 100%;
                        padding-top: 10px;

                        // w-900px
                        @include w-900px {
                            justify-content: flex-start;
                        }

                        a {
                            @include button-style;
                        }
                    }
                }
                .section-01-c-profile {
                    @include flex-center;
                    width: 100%;

                    .profile-c-info {
                        position: relative;
                        @include flex-center;
                        width: 100%;

                        text-align: center;

                        // w-900px
                        @include w-900px {
                            overflow: initial;
                        }

                        .profile-c-pic {
                            position: relative;
                            @include flex-center;

                            width: 100%;
                            border-radius: 50%;
                            overflow: hidden;

                            // w-700px
                            @include w-700px {
                                max-width: 80%;
                            }
                            // w-900px
                            @include w-900px {
                                max-width: 100%;
                            }

                            .profile-image {
                                width: 100%;
                            }
                            .bg-profile-image, .profile-image-png {
                                position: absolute;
                                width: 100%;
                                border-radius: 50%;
                            }
                            .bg-profile-image {
                                transform: translateX(100%);
                                animation: infinite-translate 16s linear infinite;
                            }
                        }
                    }
                }
            }
            .section-02 {
                @include container-sections;

                .section-02-c-title {
                    @include title-sections;
                }
                .section-02-c-paragraph {
                    width: 100%;

                    p {
                        @include text-p-style;

                        span {
                            color: $white;
                        }
                    }
                }
                .section-02-c-list {
                    width: 100%;
                    padding-top: 10px;

                    overflow: hidden;

                    .section-02-ul {
                        @include flex-center-column;
                        gap: 20px;
                        align-items: flex-start;
                        width: 100%;

                        .section-02-li {
                            @include flex-center;
                            justify-content: flex-start;

                            p {
                                @include text-p-style;
                            }
                            .section-02-text-about {
                                max-width: 140px;
                                min-width: 140px;
                            }
                            .section-02-text-info {
                                position: relative;
                                
                                padding-left: 20px;
                                opacity: 1;

                                word-break: break-all;
                                color: $white;

                                &::before {
                                    content: ':';
                                    position: absolute;
                                    left: 0;
                                }

                                a {
                                    color: $white;

                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .section-03 {
                @include container-sections;

                .section-03-c-title {
                    @include title-sections;
                }
                .section-03-c-content {
                    display: grid;
                    grid-template-columns: 1fr;
                    justify-items: center;
                    gap: 30px;

                    width: 100%;
                    padding-block: 10px;

                    overflow: hidden;

                    // w-400px
                    @include w-400px {
                        grid-template-columns: 1fr 1fr;
                    }
                    // w-700px
                    @include w-700px {
                        grid-template-columns: repeat(3, 1fr);
                    }

                    .section-03-c-technologie {
                        @include flex-center;

                        gap: 10px;

                        width: 100%;
                        max-width: 180px;

                        padding: 10px 20px;

                        border-radius: 40px;
                        border: 2px solid;

                        // w-900px
                        @include w-900px {
                            max-width: 200px
                        }

                        .section-03-technologie-c-image {
                            @include flex-center;

                            width: 100%;
                            max-width: 44px;

                            img {
                                width: 100%;
                            }
                        }
                        .section-03-technologie-c-skill {
                            width: 100%;

                            .section-03-skill-counter {
                                font-size: 1.6rem;
                                font-weight: 600;

                                color: $white;

                                // w-900px
                                @include w-900px {
                                    font-size: 1.7rem;
                                }
                            }
                            .section-03-technologie-name {
                                // w-900px
                                @include w-900px {
                                    font-size: 1.1rem;
                                }
                            }
                        }
                    }
                    .section-03-c-technologie:first-child {
                        border-color: $orange-01;
                        background-color: $orange-02;

                        .section-03-technologie-name {
                            color: $orange-01;
                        }
                    }
                    .section-03-c-technologie:nth-child(2) {
                        border-color: $blue-01;
                        background-color: $blue-02;

                        .section-03-technologie-name {
                            color: $blue-01;
                        }
                    }
                    .section-03-c-technologie:nth-child(3) {
                        border-color: $yellow-01;
                        background-color: $yellow-02;

                        .section-03-technologie-name {
                            color: $yellow-01;
                        }
                    }
                    .section-03-c-technologie:nth-child(4) {
                        border-color: $turquoise;
                        background-color: $blue-02;

                        .section-03-technologie-name {
                            color: $turquoise;
                        }
                    }
                    .section-03-c-technologie:nth-child(5) {
                        border-color: $blue-01;
                        background-color: $blue-02;

                        .section-03-technologie-name {
                            color: $blue-01;
                        }
                    }
                    .section-03-c-technologie:last-child {
                        border-color: $magenta-01;
                        background-color: $magenta-02;

                        .section-03-technologie-name {
                            color: $magenta-01;
                        }
                    }
                }
            }
            .section-04 {
                @include container-sections;

                .section-04-c-title {
                    @include title-sections;
                }
                .section-04-c-content {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-auto-rows: auto;
                    justify-items: center;
                    grid-template-areas: 
                    'box-01'
                    'box-02'
                    'box-03'
                    'box-04'
                    'box-05'
                    'box-06'
                    ;
                    gap: 30px;

                    width: 100%;
                    padding-block: 20px;


                    // w-700px
                    @include w-700px {
                        grid-template-columns: 1fr 1fr;
                        grid-template-areas: 
                        'box-01 box-02'
                        'box-01 box-03'
                        'box-04 box-03'
                        'box-05 box-06'
                        ;
                        row-gap: 30px;
                        column-gap: 20px;
                    }
                    // w-900px
                    @include w-900px {
                        grid-template-columns: repeat(3, 1fr);
                        grid-template-areas: 
                        'box-01 box-02 box-03'
                        'box-01 box-05 box-03'
                        'box-04 box-05 box-06'
                        ;
                        gap: 20px;
                    }

                    .section-04-c-portfolio:nth-child(1) {
                        grid-area: box-01;
                    }
                    .section-04-c-portfolio:nth-child(2) {
                        grid-area: box-02;
                    }
                    .section-04-c-portfolio:nth-child(3) {
                        grid-area: box-03;
                    }
                    .section-04-c-portfolio:nth-child(4) {
                        grid-area: box-04;
                    }
                    .section-04-c-portfolio:nth-child(5) {
                        grid-area: box-05;
                    }
                    .section-04-c-portfolio:nth-child(6) {
                        grid-area: box-06;
                    }
                    .section-04-c-portfolio {
                        @include flex-center-column;
                        justify-content: flex-start;
                        gap: 10px;
                        
                        width: 100%;
                        max-width: 80%;

                        // w-700px
                        @include w-700px {
                            max-width: 100%;
                        }

                        .section-04-portfolio-c-thumb {
                            position: relative;
                            @include flex-center;

                            width: 100%;

                            border: $border-01;
                            border-color: transparent;

                            border-radius: 8px;

                            overflow: hidden;

                            transition: border-color .4s;

                            &:hover {
                                border-color: $border-color-01;

                                .section-04-portfolio-thumb-effect, .section-04-portfolio-thumb-c-text {
                                    transform: translateY(0);
                                    opacity: 1;
                                }
                                .section-04-portfolio-thumb-image {
                                    filter: opacity(20%);
                                }
                            }

                            .section-04-portfolio-thumb-image {
                                width: 100%;
                                border-radius: 8px;

                                transition: filter .4s;
                            }
                            .section-04-portfolio-thumb-c-text {
                                position: absolute;

                                @include flex-center-column;
                                gap: 20px; 

                                height: 100%;
                                width: 100%;
                            
                                padding: 20px;
                                text-align: center;

                                opacity: 0;

                                transform: translateY(50%);

                                transition: all .4s ease-out;

                                p {
                                    pointer-events: none;

                                    font-size: 1.2rem;
                                    color: $white;
                                }
                                a {
                                    @include flex-center;

                                    width: 100%;
                                    max-width: 45px;

                                    padding: 8px;

                                    border-radius: 50%;
                                    background-color: $bg-color-02;

                                    img {
                                        width: 100%;
                                        transform: rotate(-45deg);

                                        filter: brightness(0) saturate(100%) invert(58%) sepia(96%) saturate(703%) hue-rotate(0deg) brightness(103%) contrast(103%);
                                    }
                                }
                            }
                        }
                        .section-04-portfolio-c-info {
                            width: 100%;
                            text-align: center;

                            // w-700px
                            @include w-700px {
                                text-align: initial;
                            }
                            
                            a {
                                width: 100%;
                                padding-block: 5px;

                                &:hover {
                                    p {
                                        text-decoration: underline;
                                    }
                                }

                                p {
                                    position: relative;

                                    width: max-content;

                                    font-size: 1.4rem;
                                    font-weight: 400;
                                    color: $white;
                                }
                            }
                        }
                    }
                }
            }
            .section-05 {
                @include container-sections;

                .section-05-c-title {
                    @include title-sections;
                }
                .section-05-c-content {
                    @include flex-center-column;
                    gap: 20px;

                    width: 100%;
                    
                    // w-700px
                    @include w-700px {
                        flex-direction: row;
                        flex-wrap: wrap;

                        .section-05-c-service:nth-child(1),.section-05-c-service:nth-child(2), .section-05-c-service:nth-child(3), .section-05-c-service:nth-child(4){
                            width: calc(50% - 10px);
                        }
                    }

                    .section-05-c-service {
                        position: relative;

                        min-height: 180px;
                        width: 100%;

                        perspective: 4000px;

                        &:hover {
                            .section-05-service-c-front {
                                transform: rotateY(-180deg);

                                h3 {
                                    opacity: 0;
                                }
                            }
                            .section-05-service-c-back {
                                transform: rotateY(0);
                            }
                        }

                        .section-05-service-c-front, .section-05-service-c-back {
                            position: absolute;

                            @include flex-center;

                            height: 100%;
                            width: 100%;
                            padding: 20px;

                            border: $border-01;
                            border-radius: 8px;

                            transform-style: preserve-3d;
                            text-align: center;

                            transition: $transition-01;

                            background-color: $bg-color-02;
                        }
                        .section-05-service-c-front {

                            h3 {
                                font-size: 1.8rem;
                                font-weight: 400;
                                transform: translate3d(0, 0, 60px);

                                color: $white;

                                transition-delay: .3s;

                                span {
                                    @include text-p-style-02;
                                }
                            }
                        }
                        .section-05-service-c-back {
                            transform: rotateY(180deg);
                            backface-visibility: hidden;

                            p {
                                @include text-p-style;
                                font-size: 1rem;
                                line-height: initial;

                                backface-visibility: hidden;
                                transform: translate3d(0, 0, 60px);

                                // w-900px
                                @include w-900px {
                                    font-size: 1.2rem;
                                }
                            }
                        }        
                    }
                }
            }
            .section-06 {
                @include container-sections;

                .section-06-c-title {
                    @include title-sections;
                }
                .section-06-c-form {
                    width: 100%;
                    padding-block: 10px;

                    overflow: hidden;

                    form {
                        @include flex-center-column;
                        align-items: flex-start;
                        gap: 40px;

                        width: 100%;

                        // w-700px
                        @include w-700px {
                            flex-direction: row;
                            justify-content: flex-start;
                            flex-wrap: wrap;
                            column-gap: 10px;
                            row-gap: 40px;

                            div:nth-child(1), div:nth-child(2), div:nth-child(3), div:nth-child(4) {
                                width: calc(50% - 5px);
                            }
                        }

                        .section-06-c-name, .section-06-c-email, .section-06-c-subject, .section-06-c-message {
                            @include flex-center-column;
                            align-items: flex-start;
                            gap: 10px;

                            width: 100%;

                            label {
                                @include text-p-style;
                                line-height: initial;
                            }
                            input {
                                position: relative;

                                width: 100%;

                                padding-block: 10px;

                                border: none;
                                border-bottom: 2px solid $gray-02;
                                outline: none;

                                font-size: 1.2rem;
                                font-weight: 500;

                                color: $white;

                                background-color: transparent;

                                // w-900px
                                @include w-900px{
                                    font-size: 1.3rem;
                                }

                                &::placeholder {
                                    color: $white;
                                }
                                &:focus {
                                    border-bottom-color: $bg-color-04;
                                }
                            }
                        }
                        .section-06-c-submit {
                            @include button-style;
                            padding: 0;

                            &:hover {
                                input {
                                    color: $bg-color-01;
                                }
                            }

                            input {
                                font-size: 1.2rem;
                                padding: 16px 30px;

                                border: none;
                                border-radius: 30px;

                                cursor: pointer;

                                color: $white;

                                background-color: transparent;

                                transition: color .4s;
                            }
                        }
                    }
                }
            }
            footer {
                @include container-sections;

                p {
                    font-size: 1.1rem;
                    color: $white;
                    opacity: $opacity-01;
                }
            }
        }
    }
}

.hidden-effect-01,
.hidden-effect-02,
.hidden-effect-03,
.hidden-effect-04,
.hidden-effect-05 {
    opacity: 0;
    transition: $transition-01;
}
.hidden-effect-01 {
    transform: translateY(-100%);
}
.hidden-effect-02 {
    transform: scale(0.5);
}
.hidden-effect-03 {
    transform: translateX(50%);
}
.hidden-effect-04 {
    transform: translateX(-50%);
}
.hidden-effect-05 {
    transform: rotateX(90deg);
}
.visible-effect {
    transform: scale(1);
    transform: translate(0);
    transform: rotate(0);
    opacity: 1;
}

@keyframes infinite-translate {
    100% {
        transform: translateX(-100%);
    }
}
@keyframes scroll-skills-in {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes scroll-skills-out {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}
